<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #F2AB08;"></span>
		<span class="sg-label">#F2AB08</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #B3C7C8;"></span>
		<span class="sg-label">#B3C7C8</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #6F485F;"></span>
		<span class="sg-label">#6F485F</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #CC4D23;"></span>
		<span class="sg-label">#CC4D23</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E87B70;"></span>
		<span class="sg-label">#E87B70</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #DB9C75;"></span>
		<span class="sg-label">#DB9C75</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #A53577;"></span>
		<span class="sg-label">#A53577</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #70E8A7;"></span>
		<span class="sg-label">#70E8A7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #111111;"></span>
		<span class="sg-label">#111111</span>
	</li>
</ul>
