<p>Primary font: 'Open Sans', 'Helvetica', sans-serif;</p>
<p><em>Primary font: 'Open Sans', 'Helvetica', sans-serif;</em></p>
<p><strong>Primary font: 'Open Sans', 'Helvetica', sans-serif;</strong></p>
<p class="font-secondary">Secondary font: "Fjalla One", Arial Black, sans-serif;</p>
<p class="font-secondary"><em>Secondary font: "Fjalla One", Arial Black, sans-serif;</em></p>
<p class="font-secondary"><strong>Secondary font: "Fjalla One", Arial Black, sans-serif;</strong></p>
