/*------------------------------------*\
    $Table
\*------------------------------------*/
table {
	border-collapse: collapse;
	border-spacing: 2px;
	width: 100%;

}
tr:hover {
  background-color: $gray-dark;
}
th {
	text-align: left;
	padding: 0.2em;
	border: 1px solid $gray-light;
}
td {
	padding: 0.2em;
	border: 1px solid $gray-light;
}
