/*------------------------------------*\
    $Table
\*------------------------------------*/
table {
	border-collapse: collapse; 
	border-spacing: 2px; 
	width: 100%;
  border: 1px solid $gray-light;
}
tr:hover {
  background-color: $gray-dark;
}
th {
	text-align: left;
	padding: 0.2em;
}
td {
	padding: 0.2em;
}
